/* oswald-regular - latin_cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/oswald-v40-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/oswald-v40-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* oswald-500 - latin_cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/oswald-v40-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/oswald-v40-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/montserrat-v18-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v18-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/montserrat-v18-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v18-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Common styles */
* {
  box-sizing: border-box;
}


.body {
  margin: 0;
  color: #060D10;
  font-family: 'Montserrat', sans-serif;
}


a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 1278px;
  border: 1px solid #f00;
}


/* Headr */
.headr {
  background-color: skyblue

}

.headr-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 31px;
  padding-bottom: 30px;
}

.logo-img {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #060D10;
  text-decoration: none;
}

.headr-btn {
  display: inline-block;
  padding: 8px 41px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  background-color: #FFFFFF;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}

.phone {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  align-items: center;
  text-align: center;
  display: flex;

}

/* main */


/* Promo */

.promo {
  color: #FFF;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/promo.jpg');
}



.promo-fade {
  background-color: rgba(6, 13, 16, .25)
}

.promo-wrap {
padding-top: 240px;
padding-bottom: 260px;
}


.promo-title {
  margin: 0 auto;
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 89px;
  color: #FFF;
  text-shadow: 1px 1px 2px #060D10;
}


.promo-text {
  margin: 0 110px;
  margin-top: 60px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  align-items: center;
  text-shadow: 1px 1px 2px #060D10;
}


/* Options */

.options {
  padding-top: 170px;
  background: #FFFFFF;
  background-color: rgba(102, 209, 255, .1);
}

.options-title {
  margin: 0 auto;
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 167%;
  text-align: center;
}

.options-item {
display: flex;
flex-direction: column;
margin-top: 70px;
width: 33.33%;
padding: 0 15px;
}


.options-heading {
  margin-bottom: 25px;
  margin-top: 0;
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 167%;

}

.options-text {
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 140%;
  color: #060D10;
  opacity: 0.8;
}


/* Order */
.order {
  padding-top: 170px;
  padding-bottom: 180px;
  background-image: linear-gradient(200.8deg, rgba(102, 209, 255, .1) 43.85%, rgba(196, 196, 196, 0) 43.86%);
  text-align:center;
}

.order-title {
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 167%;
  /* or 80px */
  text-align: center;
  text-transform: uppercase;
  /* ski-text */
  color: #060D10;
}

.order-btn {
  display: inline-block;
  padding: 20px 107px;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  background-color: #FFFFFF;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}

.lead-photo {
  margin: 0 --15px;
  display: flex;
}

.lead-photo-img {
width: 25%;
padding: 15px;
}

.lead-img {
  width: 100%;
  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* Footer */
.footer {
  background-color: #060D10;
  color: #FFF;
  padding-top: 30px;
  padding-bottom: 30px;

}

.footer-wrap {
  align-items: center;
  justify-content: space-between;
  display: flex;
}


 .social-networks {
  display: flex;
  align-items: center;
  justify-content: space-between;
 }



.footer-title {
  margin: 0 30px 0 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 167%;
}

.footer-copyright {
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}


/* social-icons */

.social-icons {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.social-item {
  margin-right: 20px;
}

.social-link {
  width: 40px;
  height: 40px;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
}

.social-text {
  opacity: 0;
  font-size: 1px;
}



