/* oswald-regular - latin_cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/oswald-v40-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/oswald-v40-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* oswald-500 - latin_cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/oswald-v40-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/oswald-v40-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/montserrat-v18-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v18-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/montserrat-v18-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v18-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


.promo-title {
  font-size: 72px;
}

.promo-price {
  font-size: 52px;
}

/* Headr */
.headr {
  background-color:#66D1FF
}

.logo {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #060D10;
}

.btn {

  height: 45px;
  left: 81px;
  top: 34px;
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
}

.contact {
font-weight: 500;
font-size: 28px;
line-height: 34px;
display: flex;
align-items: center;
text-align: center;
color: #060D10;
}


/* Promo */
.promo {
  background: linear-gradient(0deg, rgba(6, 13, 16, 0.25), rgba(6, 13, 16, 0.25)), url(.jpg);
}

.promo-title {
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 89px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  text-shadow: 1px 1px 2px #060D10;
}

.promo-content {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFF;
  text-shadow: 1px 1px 2px #060D10;
}

/* Options */
.options {
  background-color: #66D1FF;
}

.options-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 167%;
  color: #060D10;
}
.options-heading {
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 167%;
  text-transform: uppercase;
  color: #060D10;
}

.options-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 140%;
  color: #060D10;
}

/* Order */
.order {
  background: linear-gradient(208.35deg, #66D1FF 43.85%, rgba(196, 196, 196, 0) 43.86%);
}

.order-title {
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 167%;
  text-align: center;
  text-transform: uppercase;
  color: #060D10;
}

.btn {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #060D10;
}

/* Footer */
.footer {
  background: #060D10;
}

.footer-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 167%;
  text-align: left;
  color: #FFF;
}

.footer-copyright {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #FFF;
}

.icon-twitter {
  width: 40px;
  height: 40px;
  top: 35px;
  bottom: 35px;
  border: 1px solid rgb(13, 13, 13);
  background-color: rgb(12, 12, 12);
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/whh_circletwitter.svg');
}

.icon-instagram {
  width: 40px;
  height: 40px;
  top: 35px;
  bottom: 35px;
  border: 1px solid rgb(13, 13, 13);
  background-color: rgb(12, 12, 12);
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/entypo-social_linkedin-with-circle.svg');
}

.icon-google {
  width: 40px;
  height: 40px;
  top: 35px;
  bottom: 35px;
  border: 1px solid rgb(13, 13, 13);
  background-color: rgb(12, 12, 12);
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/icomoon-free_google-plus3.svg');
}

.icon-facebook {
  width: 40px;
  height: 40px;
  top: 35px;
  bottom: 35px;
  border: 1px solid rgb(13, 13, 13);
  background-color: rgb(12, 12, 12);
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/entypo-social_facebook-with-circle.svg');
}




